<%= form_tag sessions_path do %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}", :class => "#{name}" %>
  <% end %>

  <p>
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username] %>
  </p>
  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>
  <p class="button">
    <%= submit_tag 'Login' %>
  </p>
<% end %>

