<h1>New Review</h1>

<%= simple_form_for @review do |f| %>
  <%= f.input :title %>
  <%= f.input :start_on, :start_year => Date.today.year %>
  <%= f.input :end_on, :start_year => Date.today.year %>
  <%= f.submit 'Create' %>
<% end -%>
