<!DOCTYPE html>
<html>
<head>
  <title>PeerReviewer</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user -%>
    <p>Welcome, <%= current_user.username %></p>
  <% end -%>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash#{name}", class: "#{name}" %>
  <% end %>

<%= yield %>

</body>
</html>
