<!DOCTYPE html>
<html>
<head>
  <title>Peer Reviewer</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="prepend-1 span-10">
      <%= link_to "Home", root_path %>
    </div>

    <div class="append-1 span-12 last">
      <div id="user_nav">
        <%= render :partial => 'menu' %>
      </div>
    </div>

    <div class="prepend-1 span-22 append-1">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash#{name}", class: "#{name}" %>
      <% end %>
    </div>

    <div class="prepend-1 span-22 append-1">
      <%= yield %>
    </div>
  </div>

</body>
</html>
